@import "exclude/bs/variables";
@import "exclude/bs/mixins.less";
@import "exclude/elements";
@import "exclude/helpers";
@import "exclude/flexbox";

@import "exclude/_bg";
@import "exclude/_alert_note";
@import "exclude/_notification";
@import "exclude/_ajax_confirm_button";


.core-langs{
  float: right;
  list-style: none;
  margin: 0;
  li{
    display: inline-block;
    padding: 14px 3px 14px 0;
    a{
      line-height: 20px;
    }
  }
}

.form-without-label {
  padding-top: 29px;
}

.form-without-label2{
  padding-top: 31px;
}

.bootstrap-dialog{
  .modal-header{
    border-radius: 0;
  }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
.col-center{
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}
/* -------------------------------
   app\widgets\ActiveField
------------------------------- */
.my-tooltip-note{
  display: none;
}
.required-symbol{
  color: @brand-danger;
}
/* -------------------------------
   app\widgets\ActiveField end
------------------------------- */

